.App {
  text-align: center;
}

.App-logo {
  height: 30px;
  padding-top: 5px;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #0b1415;
  height: 10vh;
  flex-direction: row;
  width: 100%;
}

header {
  /* display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between; */
  background: currentColor;

}

footer {
  margin-top: auto;
}

.App-link {
  color: #61dafb;
}

#formforsign {
  max-width: 412px;
  align-self: center;
}
.Icon {
  width: 5vh;
  border-radius: 20px;
  margin-inline: 10%;
}
.NavButton {
  margin-inline: 10%;
}

footer{
  position: fixed;
   bottom: 0;
   width: 100%;
}
/* #NavLinks {
  margin-inline: %;
} */

/* #NavLinks {
  padding-inline: ;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */